<!DOCTYPE html>
<html>
  <head>
    <title>Enter Key</title>
  </head>
  <body>
    <h1>Enter Your Key</h1>
    <form action="/login" method="POST">
      <!-- Updated form action -->
      <label for="key">Key:</label>
      <input type="text" id="key" name="key" required />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
