<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Invalid Key</title>
  </head>
  <body>
    <h1><% Invalid Key %></h1>
    <p><% The provided key is invalid. Please try again.%></p>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invalid Key</title>
  </head>
  <body>
    <h1>Invalid Key</h1>
    <p>The API key provided is invalid.</p>
  </body>
</html>
